* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.logo-html {
    background-image: url(../imgs/logo-html.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;

    width: 100%;
    height: 100%;
}